@charset "utf-8";

@media (min-width:1023px){
@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body { background-color: black;}
#wrap {
    width: 1015px; background-image: url("../sub1_img/wrap.jpg") ;
    margin: 0 auto; position:relative;
}


    header {
        width: 1015px; height: 525px;
        display: flex;
        flex-flow: row wrap; justify-content: center; align-content: space-between;
        align-items: center;
    }

        header > img {
            box-shadow: 4px 0px 40px 8px black;
        }

    nav {
        width: 900px; height:225px; 
        display: flex; 
        flex-direction: column; align-items: center;
    }
        [alt="logo"] {
            width: 900px; height: 80px; 
        }
        [alt="logo3"] {
            width: 520px; height: 145px; 
        }
        
    .H_d {
        width: 220px; height: 270px;
        
    }

    #change_o {
        width: 1015px; height: 1500px; 
        display: flex;
        align-items: center; flex-direction: column;
        color: rgb(192, 192, 192);
    }
        table {
            border: 2px solid rgb(110, 97, 97);
            margin: 50px 0;
            box-shadow: 0px 0px 50px 4px black;
        }
               th{
                width: 140px; height: 45px;
                font-family: '국립박물관문화재단클래식B'; font-size: 20px;
                }
                td{
                    width: 630px; 
                    font-family: 'Cafe24Oneprettynight'; text-align: center; font-size: 17px;
                }

        #title_o {
            width: 900px; height: 50px; 
            font-family: '국립박물관문화재단클래식B'; font-size: 21px; text-align: center;
        }
        
        #content_o {
            width: 900px;  
            font-family: 'Cafe24Oneprettynight'; line-height: 30px;  font-size: 17px;
            margin: 0 0 40px 0px;
        }

        #title_t {
            width: 900px; height: 50px;
            font-family: '국립박물관문화재단클래식B'; font-size: 21px; text-align: center;
        }
        #content_t {
            width: 900px;  
            font-family: 'Cafe24Oneprettynight'; line-height: 30px; font-size: 17px;  text-align: justify;
        }



    #change_t {
        width: 1015px; height: 1500px; 
        display: flex; 
        align-items: center; flex-direction: column;
        color: rgb(192, 192, 192);
    }

    #change_th {
        width: 1015px; height: 1500px; 
        display: flex; 
        align-items: center; flex-direction: column;
        color: rgb(192, 192, 192);
    }

    #change_f {
        width: 1015px; height: 1500px; 
        display: flex; 
        align-items: center; flex-direction: column;
        color: rgb(192, 192, 192);
    }

#all_t {
    display: none;
}

#all_th {
    display: none;
}

#all_f {
    display: none;
}


    

}